<form action="/" method="get">
  <select name="category" onchange="submit()">
    <option value="">請選擇類別</option>
    <option value="all">全部</option>
    {{#each categories}}
    <option value="{{this.name}}" 
     {{#is ../selectedCategory this.name}} selected {{/is}}
    > {{this.name}} </option>
    {{/each}}
  </select>
</form>

<h3>
  總金額{{ totalAmount }}，帳目有以下這些:
</h3>

<hr>

<div>
  {{#each records}}
  <div>
    {{#each ../categories}}
      {{#is this.name ../this.category}}<i class="{{this.icon}}"></i>{{/is}}
    {{/each}}
    <h5 style="display: inline-block;">{{this.name}}</h5>
    <p>分類:{{this.category}}</p>
    <p>時間:{{this.date}}</p>
    <p>金額:{{this.amount}}</p>
    <a href="/record/{{this._id}}/edit">編輯這項帳目</a>
    <form action="/record/{{this._id}}?_method=DELETE" method="post" style="display: inline;">
      <button type="submit">刪除這項帳目</button>
    </form>
    <hr>
  </div>
  {{/each}}

  <a href="/record/new">
    <button type="submit">新增一筆支出</button>
  </a>
</div>
